* {
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
}
#clear {
    clear: both;
}
.clear {
    clear: both;
}
a img {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
}
body {
    background-image: url("texture.jpg");
    background-position: center bottom;
}
#herowrap {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #E5222F;
    background-image: url("logo2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom-color: #C8DE92;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-color: #A50A17;
    border-top-style: solid;
    border-top-width: 5px;
    height: 515px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}
#copywrap {
    background-color: #FFFFFF;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}
#bodywrap {
    border-top-color: #9AAD74;
    border-top-style: solid;
    border-top-width: 5px;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}
#wrap {
    color: #CCCCCC;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    position: relative;
    width: 833px;
}
span.grey {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: rgba(180, 180, 180, 0.5);
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    z-index: 99999;
}
span.grey a {
    cursor: default;
}
span.grey img {
    opacity: 0.2;
}
#topspan {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #86060E;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    height: 45px;
    width: 100%;
}
#topbar {
    height: 45px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
    width: 800px;
}
#socialmedia {
    margin-top: 12px;
    position: absolute;
}
#back_button {
    height: 96px;
    left: 225px;
    margin-top: -50px;
    position: absolute;
    width: 123px;
    z-index: 900;
}
#body-content-area {
    margin-top: 3px;
    min-height: 250px;
}
.bodycopy {
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0;
    width: 633px;
}
#buttonss {
    color: #CCCCCC;
    margin-top: 35px;
}
#copy {
    color: #483726;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    line-height: 25px;
    margin-top: 150px;
}
.color {
    font-size: 19px;
}
ul#slider li p {
    color: #000000;
}
#logo {
    margin-bottom: 0;
    margin-left: 330px;
    margin-right: 0;
    margin-top: 20px;
    position: absolute;
}
#back_button {
    margin-left: 470px;
}
#feature-copy-area {
    color: #CCCCCC;
    height: auto;
    margin-bottom: 0;
    margin-left: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 45px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
}
#videocontainer {
    cursor: pointer;
    height: 490px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 765px;
}
#videocontainer a {
    height: 352px;
    left: 90px;
    position: absolute;
    top: 0;
    width: 627px;
}
#feature-copy-area p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    margin-left: 10px;
}
#headerimage {
    height: 400px;
    padding-top: 125px;
}
h2 {
    color: #483726;
    font-size: 18px;
}
h3 {
    color: #333333;
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}
p {
    color: #666666;
    font-family: "museo-sans-1","museo-sans-2";
    font-size: 13px;
    line-height: 25px;
}
#shadow {
    margin-left: 70px;
    margin-top: 467px;
    position: absolute;
}
#video {
    margin-bottom: 45px;
    margin-left: 105px;
    margin-right: 0;
    margin-top: 115px;
}
.video {
    height: 162px;
}
.video p {
    padding-top: 60px;
}
#parts {
    margin-bottom: 0;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 0;
    padding-left: 14px;
    width: 653px;
}
ul#play-part li {
    display: inline;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    white-space: nowrap;
}
#step2 {
    margin-bottom: 0;
    margin-left: 105px;
    margin-right: 110px;
    margin-top: 0;
    width: 613px;
}
#step3 {
    margin-bottom: 0;
    margin-left: 105px;
    margin-right: 110px;
    margin-top: 0;
    width: 613px;
}
.date {
    color: #999999;
    font-size: 12px;
}
.img_left {
    float: left;
    margin-left: 35px;
    margin-right: 25px;
}
hr {
    border-bottom-color: red;
    border-bottom-style: dotted;
    border-bottom-width: 0;
    border-collapse: collapse;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #BBBBBB;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #BBBBBB;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: #BBBBBB;
    border-top-style: solid;
    border-top-width: 3px;
    clear: both;
    margin-bottom: 10px;
    margin-left: 35px;
    margin-right: 0;
    margin-top: 10px;
    width: 800px;
}
.message_titles {
    margin-left: 275px;
}
.accordionButton {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #003366;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    cursor: pointer;
    float: left;
    width: 800px;
}
.accordionContent {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #95B1CE;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: none;
    float: left;
    width: 800px;
}
